<?xml version='1.0' encoding='utf-8'?>
    <widget id="com.algonquincollege.dosh0005.sport_app_dosh0005" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>SportApp-dosh0005</name>
        <description> A Sport Themed app to display a game schedule and scores from games played. </description>
        <author email="dosh0005@algonquinlive.com" href="http://algonquincollege.com"> Harsh Doshi </author>
        <content src="index.html" />
        <plugin name="cordova-plugin-whitelist" spec="1" />
        <access origin="*" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="tel:*" />
        <allow-intent href="sms:*" />
        <allow-intent href="mailto:*" />
        <allow-intent href="geo:*" />
        
         <icon src="res/icon/icon.png" />
         
        <platform name="android">
            <allow-intent href="market:*" />
            <!-- you can use any density that exists in the Android project -->
            <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
            <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
            <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
            <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />
            <splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi" />
            <splash src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi" />
            <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi" />
            <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi" />
            <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi" />
            <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi" /> 
            <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi" /> 
            <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi" /> 
            <!--icon set-->
            <icon src="res/icon/android/ldpi.png" density="ldpi" />
            <icon src="res/icon/android/mdpi.png" density="mdpi" />
            <icon src="res/icon/android/hdpi.png" density="hdpi" />
            <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
            <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
            <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
        </platform>
       
        <platform name="ios">
            <allow-intent href="itms:*" />
            <allow-intent href="itms-apps:*" />
            <!-- images are determined by width and height. The following are supported -->
            
<!--
            <splash src="res/screen/ios/Default~iphone.png" width="320" height="480" />
            <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960" />
            <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024" />
            <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048" />
            <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768" />
            <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536" />
            <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136" />
            <splash src="res/screen/ios/Default-667h.png" width="750" height="1334" />
            <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208" />
            <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242" /> 
-->
        </platform>
        
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="10000" /> 
    </widget>